.container {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto var(--lg-gutter) auto;
  padding: 0 var(--sm-gutter);
}

@media screen and (max-width: 1080px) {
  .container {
    padding: 0;
  }
}
