.container {
  margin-top: var(--lg-gutter);
}

.container > li + li {
  margin-top: var(--lg-gutter);
}

.container > li:nth-child(even) {
  flex-direction: row-reverse;
}

.container > li:last-child {
  margin-bottom: var(--lg-gutter);
}

@media screen and (max-width: 768px) {
  .container > li,
  .container > li:nth-child(even) {
    flex-direction: column;
  }

  .container > li + li {
    margin-top: var(--xl-gutter);
  }
}
