.container {
  display: flex;
  grid-gap: 4rem;
  min-height: 500px;
  align-items: center;
}

@media screen and (max-width: 1080px) {
  .container {
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    align-items: normal;
  }
}
