.container > li {
  margin-top: var(--md-gutter);
}

.container > li:nth-child(even) {
  flex-direction: row-reverse;
}

.container > li:last-child {
  margin-bottom: var(--md-gutter);
}

@media screen and (max-width: 768px) {
  .container > li,
  .container > li:nth-child(even) {
    flex-direction: column-reverse;
  }
}
