.header {
  background-color: var(--pink);
  position: relative;
}

.container {
  max-width: var(--max-width);
  padding: var(--md-gutter) var(--sm-gutter);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.header a {
  color: var(--red);
  font-family: "Libre Baskerville";
  font-size: 1.286rem;
}

.navTitle a {
  font-size: 1.6rem;
}

.hamburgerMenu {
  display: none;
}

@media screen and (max-width: 1080px) {
  .navList {
    display: none;
  }

  .activeNav {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
  }

  .activeNav .navList {
    border-radius: 0 0 8px 8px;
    background-color: var(--pink);
    display: flex;
    padding: var(--sm-gutter);
    flex-direction: column;
    grid-gap: 1rem;
    animation: fadeIn 0.25s;
  }

  /* hamburger */
  .hamburgerMenu {
    display: block;
    border: none;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 3px;
    background-color: var(--red);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 8px;
  }

  .active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px);
  }

  .active .bar2 {
    opacity: 0;
  }

  .active .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -9px);
    transform: rotate(45deg) translate(-7px, -9px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
