.container {
  display: flex;
  grid-gap: 4rem;
  min-height: 500px;
}

.imageContainer {
  position: relative;
  flex: 1;
}

.contentContainer {
  flex: 1;
  align-self: center;
}

.contentContainer h2 {
  font-family: "Montserrat";
  font-size: 1.375rem;
}

.contentContainer p {
  white-space: pre-line;
}
