@font-face {
  font-family: "Libre Baskerville";
  src: url("/fonts/Baskervville-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

html,
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Libre Baskerville";
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.286rem;
}

p {
  letter-spacing: -0.015rem;
  line-height: 1.8;
}

:root {
  --max-width: 1080px;
  --xl-gutter: 4rem;
  --lg-gutter: 3rem;
  --md-gutter: 2rem;
  --sm-gutter: 1rem;
  --black: #000000;
  --pink: #f8f1f1;
  --red: #ae1919;
}
