.container {
  padding: 0 2rem;
  max-width: 1080px;
  margin: auto;
}

.summaryContainer {
  max-width: 675px;
  margin: auto;
  text-align: center;
}

.summaryContainer p {
  padding: var(--md-gutter);
  color: var(--red);
}
