.copyContainer {
  max-width: 675px;
  margin: auto;
  text-align: center;
  padding-bottom: var(--md-gutter);
}

.copyContainer p {
  font-family: "Libre Baskerville";
  font-size: 1.25rem;
  color: var(--black);
  margin: 0;
}

.copyContainer p:last-child {
  margin-top: var(--sm-gutter);
}
